@model OdeToFood.Models.AboutModel
@{
    ViewBag.Title = "About";
    ViewBag.Message = "Your application description page.";
}
<h2>@ViewBag.Title.</h2>
<h3>@Model.Name</h3>

<p>Location: @Model.Location</p>
