@model IEnumerable<OdeToFood.Models.RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

@* If I had chosen POST as the method, the values would be sent at the body
   of the HTTP request, thus wouldn't be shown for the user at the URL. The
   GET method wraps up all the values and put it in the query string.*@
    
@*"POST operations are write operations. GET operations are read operations."*@
<form method="get" class="form-group">
    <input type="search" class="form-control" name="searchTerm" />
    <button type="submit" class="btn btn-default">Search By Name</button>
</form>

@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>@item.City, @item.Country</div>
        <div>
            Reviews: @item.CountOfReviews
        </div>
        <hr />
    </div>
}
